<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- 在 head 标签中添加 meta 标签，并设置 viewport-fit=cover 值 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <title>hipy-sniffer嗅探器</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/grey.js"></script>
</head>
<style>
    #test_sniffer {
        margin: 2px;
        padding: 5px;
    }
</style>
<body>
<h2>hipy-sniffer|为hipy-server而生的高性能网页嗅探器</h2>
<h5>端口:{{ port }}</h5>
<h4>注意:但凡嗅探器里传参script的时候，base64编码后的脚本还需要encodeURIComponent防止存在+号</h4>
<a id='active' href="/active">访问此处激活您的嗅探器程序</a>
<div id="test_sniffer">
    <br/><a href="/sniffer?url=">嗅探器接口</a>
    <br/><a href="/static/lives/lives.txt">酒店电视直播-txt</a>
    <br/><a href="/static/lives/lives.m3u">酒店电视直播-m3u</a>
    <br/><a href="/ysp">央视频-客户端</a>
    <br/><a href="/ysp?proxy=1">央视频-网页端</a>
    <br/><a href="/ysp?proxy=1&raw=1">央视频-嗅探源</a>
    <br/><a
        href="/sniffer?url=http://www.xingchenwu.com/juqingpian/bazi/play-0-0.html&init_script=T2JqZWN0LmRlZmluZVByb3BlcnRpZXMobmF2aWdhdG9yLCB7cGxhdGZvcm06IHtnZXQ6ICgpID0%2BICdpUGhvbmUnfX0pOw%3D%3D">星辰篡改嗅探</a>
    <br/><a
        href="/sniffer?url=https://m.emsdn.cn/vod-play-id-39634-src-1-num-1.html&script=dHJ5e2xvY2F0aW9uLmhyZWYgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yQWxsKCJpZnJhbWUiKVsxXS5zcmM7fWNhdGNoKGVycikge2xvZygianPngrnlh7vplJnor686IitlcnIubWVzc2FnZSk7fWRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIi5saW5lIikuY2xpY2soKQ==">农民点击嗅探</a>
    <br/><a href="/nm?all=&url=">获取农民解析第1个</a>
    <br/><a href="/nm?all=1&url=">获取农民解析全部</a>
    <br/><a href="https://igdux.top/~nmjx">农民解析剪切板</a>
    <br/><a
        href="/fetCodeByWebView?url=https://api.cnmcom.com/webcloud/nmm.php?url=&headers={'referer': 'https://m.emsdn.cn/'}&script=document.querySelector('.line').click()">获取农民解析网页源码</a>
    <br/><a href="/fetCodeByWebView?url=https://www.freeok.pro">测试webview:freeok</a>
    <br/><a href="/fetCodeByWebView?url=https://www.freeok.pro&css=.sidebar&html=1">测试freeok过盾</a>
</div>
<script>
    var urls = [
        {title: '虾米解析', url: 'https://jx.xmflv.com/?url=https://m.iqiyi.com/v_1pj3ayb1n70.html'},
        {title: '杰森解析', url: 'https://jx.jsonplayer.com/player/?url=https://m.iqiyi.com/v_1pj3ayb1n70.html'},
        {title: '阳途解析', url: 'https://jx.yangtu.top/?url=https://m.iqiyi.com/v_1pj3ayb1n70.html'},
        {title: '腾云驾雾', url: 'https://v.qq.com/x/page/i3038urj2mt.html'},
        {title: '百忙无果', url: 'http://www.mgtv.com/v/1/290346/f/3664551.html'},
        {title: 'gaze1', url: 'https://gaze.run/play/3e535f6add8302fd5a82600124a26733'},
        {title: 'gaze2', url: 'https://gaze.run/play/b42e9f9b1f9fa9f6c9887d307f6fb0c4'},
        {title: '兄弟影视嗅探排除', url: 'https://www.brovod.com/play/192394-3-1/&sniffer_exclude=/xdad.|.js|.ts|/dmad'},
    ];
    $(document).ready(function () {
        urls.forEach((item) => {
            $('#test_sniffer').append(`<br/><a href="/sniffer?url=${item.url}">测试嗅探${item.title}</a>`)
        });
    });
</script>
</body>

</html>